<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask :)</title>
</head>
<body>
    <h1>This is my Flask app so far...</h1>
    <a href="{{ url_for('sql_form')}}">Add an episode</a>
    <table class='table table-hover' style='margin-left: 100px; margin-right: 100px; width: 90%;'>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Season</th>
                <th>Episode Number</th>
                <th>Number In Season</th>
                <th>Episode Name</th>
                <th>Director</th>
                <th>Writer</th>
                <th>Original Air Date</th>
                <th>US Viewers</th>
                
                
            </tr>
        </thead>
    
        {% for result in results %}
        <tr>
            <td align="center"><a href="{{ url_for('sql_datadelete', episode_name=result['episode name'])}}"><i class="fas fa-trash-alt"></a></td>
            <td align="center"><a href="{{ url_for('sql_edit', episode_name=result['episode name'])}}"><i class="fas fa-edit"></a></td>
            <td>{{result["Season"]}}</td>
            <td>{{result["Episode Number"]}}</td>
            <td>{{result["Number In season"]}}</td>
            <td>{{result["Episode Name"]}}</td>
            <td>{{result["director"]}}</td>
            <td>{{result["writer"]}}</td>
            <td>{{result["Original Air Date"]}}</td>
            <td>{{result["us viewers (million)"]}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>